@model IEnumerable<LaborU.Models.ViewModels.PeopleViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>
@foreach (var peopleViewModel in Model)
{
    @Html.Raw(peopleViewModel.Id)
}
